@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Makes the scrollbar background transparent */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b83f69d; 
    border-radius: 4px;
  }
  